* {
    box-sizing: border-box;
}

#name {
    color: #ba4fda;
}

#name:hover {
    color: #b547d0; /*#eed65d; */
    cursor: pointer;
}

body {
    margin: 0;
    background-image: url(../image/bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: 'DynaPuff', cursive; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: -30rem;
    font-size: 4rem;
}

.countdown-container {
    display: flex;
}

.text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-box {
    text-align: center;
}

.credit {
    margin-top: 200px;
    color: rgba(49, 48, 48, 0.3);
}

/* responsiveness */
@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        align-items: center;
        /* background-size: cover; */
        background-repeat: no-repeat;
    }
    h1 {
        margin-top: 0;
        font-size: 3rem;
        text-align: center;
        align-items: center;
    }
    .text {
        font-size: 2.5rem;
        line-height: 1;
        margin: 0 1rem;
    }
    .countdown-container{
        margin-top: 0px;
        display: flex;
    }
}